/* navbar */
.navbar {
  background-color:#58585A;
  color: white;
  border-color:#c7c8ca;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-weight: normal;
  font-size:16px;
}

#reach-logo{
  position: fixed;
  right: 10px;
  top: 5px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  background-color:#58585A;
  color: white;
  border-color:#c7c8ca;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-weight: normal;
  font-size:16px;
}

/* tabs */
.navbar-nav li a {
  color: white !important;
  background-color: #58585A !important;
}

/* tabs on hover */
.navbar-nav li a:hover {
  color: dark !important;
  border-bottom: 2px solid #EE5859 !important;
  border-color: #EE5859;
}

/* active tabs */
.navbar-nav > .active > a {
  color: white !important;
  border-bottom: 2px solid #EE5859 !important;
  border-color: #EE5859;

}

.navbar-nav > .active > a:hover {
  color: white !important;
  border-bottom: 2px solid #EE5859 !important;
  border-color: #EE5859;
}

.leaflet{
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

.leaflet .legend {
   line-height: 12px;
   font-size: 12px;
}

.leaflet .legend i {
  width: 12px;
  height: 12px;
  }

.leaflet-admin1{
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}


.leaflet-hover{
    width: 250px;
    white-space: normal;
    font-family: "Leelawadee UI", "Leelawadee", sans-serif;

}

.outer, .outer2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  z-index: -50;
}



h2 {
  font-size: 16px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-weight: bold
}

/* markdown "###" title size and font */
h3 {
  font-size: 16px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-weight: bold;
  padding-left: 70px
}

.reactable {
  font-size: 11px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.tab-panel{
  background-color: red;
  color: white
}

.navbar-left,.navbar-right {
  float: none !important;
}

/* sidebar */
.sidebar {
  background-color: #58585A;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  color:white;
  border-color:#c7c8ca;
}

/* sidebar */
.section.sidebar {
  background-color: #58585A;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-size: 12px;
  color:white;
  border-color:#c7c8ca;
}

.fluid-row-padding {
  padding-left: 30px;
  padding-right: 20px;
}


/* sidebarpanel background*/
.well {
  background-color: #58585A;
  border-width: 2px;
  border-color:#EE5859;
  color: white;
  font-size: 12px;
  opacity: 0.8;
  text-align: justify;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

/* hyperlink */
.well li a {
  font-family: bold;
  color: #EE5859;
}

.well li a {
  font-family: bold;
  color: #EE5859;
}

/* inputs container */
.shiny-input-container {
  color: white;
  font-size: 12px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

/* selectize border color */
.selectize-input {
  border-color: #EE5859;
  outline: 0;
}

/* selectize focus border color */
.selectize-input.focus {
  border-color: #EE5859;
  outline: 0;
}

.my-radio {
	accent-color: #EE5859;
}

/* selectize dropdown */
.selectize-dropdown-content .active {
  background: #EE5859 !important;
  color: white !important;


/* background borders */
body hr {
  border-color: white;
  margin: 10px 0;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

/* full background */
body{
  background: #58585A;
  padding: 60px 0 0 8px; /* padding-top overridden by theme */
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

/* paragraph */
p {
  font-size: 10px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}



/* hyperlink hover */
a:hover {
  font-family: bold;
  color: #D2CBB8;
}

/* hyperlink hover */
.a:hover {
  font-family: bold;
  color: #D2CBB8;
}






