/* navbar */
.navbar {
  background-color:#58585A;
  color: white;
  border-color:#c7c8ca;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-weight: normal;
  font-size:18px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  background-color:#58585A;
  color: white;
  border-color:#c7c8ca;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-weight: normal;
  font-size:18px;
}


/* tabs */
.navbar-nav li a {
  color: white !important;
  background-color: #58585A !important;
}

/* tabs on hover */
.navbar-nav li a:hover {
  color: dark !important;
  border-bottom: 3px solid #EE5859 !important;
  border-color: #EE5859;
}

/* active tabs */
.navbar-nav > .active > a {
  color: white !important;
  border-bottom: 3px solid #EE5859 !important;
  border-color: #EE5859;

}

.navbar-nav > .active > a:hover {
  color: white !important;
  border-bottom: 3px solid #EE5859 !important;
  border-color: #EE5859;
}




/* markdown "###" title size and font */
h3 {
  font-size: 18px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-weight: bold;
}

.reactable {
  font-size: 14x;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

.tab-panel{
  background-color: red;
  color: white
}

.navbar-left,.navbar-right {
  float: none !important;
}

/* sidebar */
.sidebar {
  background-color: #58585A;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  color:white;
  border-color:#c7c8ca;
}

/* sidebar */
.section.sidebar {
  background-color: #58585A;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  font-size: 16px;
  color:white;
  border-color:#c7c8ca;
}

/* sidebarpanel background*/
.well {
  background-color: #58585A;
  border-width: 2px;
  border-color:#EE5859;
  color: white;
  font-size: 16px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

/* inputs container */
.shiny-input-container {
  color: white;
  font-size: 16px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

/* selectize border color */
.selectize-input {
  border-color: #EE5859;
  outline: 0;
}

/* selectize focus border color */
.selectize-input.focus {
  border-color: #EE5859;
  outline: 0;
}

.my-radio {
	accent-color: #EE5859;
}

/* selectize dropdown */
.selectize-dropdown-content .active {
  background: #EE5859 !important;
  color: white !important;


/* background borders */
body hr {
  border-color: white;
  margin: 10px 0;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

/* full background */
body{
  background: #58585A;
  padding: 60px 0 0 8px; /* padding-top overridden by theme */
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
}

/* paragraph */
p {
  font-size: 10px;
  font-family: "Leelawadee UI", "Leelawadee", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}


/* hyperlink */
a {
    color: #EE5859;
}

/* hyperlink hover */
a:hover {
    color: #D2CBB8;
}








